html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/img/Great_Wave_off_Kanagawa.jpg");
    background-size: 3000px; 
    background-position: center;
    background-repeat: repeat;
}
@media (min-width: 3000px) {
    body {
        background-size: cover;
    }
}


#sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    padding-top: 60px;
    transition: all 0.3s;
}
#sidebar.active {
    left: 0;
}
#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#sidebar ul li {
    padding: 10px;
}
#sidebar ul li a {
    color: white;
    text-decoration: none;
}
#content {
    margin-left: 0;
    padding: 20px;
    transition: all 0.3s;
}
#content.active {
    margin-left: 250px;
}
#toggleBtn {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.container h1 {
    background-color: #ffffffd8;
    margin: 0;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(80, 2, 2, 0.5);
    text-align: center;
}
.container p {
    font-size: 21px;
}
@media (max-width: 600px) {
    .container {
        margin-right: 6%;
        margin-left: none;
    }
}
.products {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.product-card {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 15px;
    width: 100%;
}
.carrito {
    display: block;
    position: fixed;
    z-index: 1;
}
.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.product-card h3 {
    margin: 10px 0;
}
.product-card p {
    margin: 5px 0;
}
.product-card select {
    margin: 10px 0;
    width: 100%;
}
.product-card button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}
.product-card button:hover {
    background-color: #4CAF50;
}
#cart {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
}
#cart.open {
    right: 0;
}
#cart h2 {
    padding: 20px;
    margin: 0;
    background-color: #4CAF50;
    color: white;
}
#cart-items {
    padding: 20px;
}
#cart-items .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
#cart-items .cart-item button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
#cart-items .cart-item button:hover {
    background-color: #910f06;
}
#cart-total {
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}
#toggle-cart {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: #4CAF50;
    border: 1px solid;
    border-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.pausadoBtn {
    animation-play-state: paused;
}
#toggle-cart:hover {
    animation-name: scale;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes scale {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}
@media (max-width: 600px) {
    .product-card {
        width: calc(100% - 20px);
    }
}
.btnUp {
    bottom: 30px;
    left: 300px;
    position: fixed;
}
.btnUp:hover {
    animation-name: moveUp;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes moveUp {
    from {transform: translateY(-15px);}
    to {transform: translate(0);}
}

@media (max-width: 1600px) {
    .btnUp {
        left: 50px;
    }
}
@media (min-width: 601px) {
    .arriba {
        display: none;
    }
    hr {
        display: none;
    }
}
.arriba {
    text-align: center;
}
.arriba button {
    width: 80%;
    
    background-color: #333;
    border-radius: 8px;
    animation-name: moveUp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.a {
    text-decoration: none;
    width: 100%;
    color: azure;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
@media (max-width: 600px) {
    .btnUp {
        display: none;
    }
    .arriba {
        display: end;
    }
}