html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/Great_Wave_off_Kanagawa.jpg");
    background-size: 3000px; 
    background-position: center;
    background-repeat: repeat;
}
@media (min-width: 3000px) {
    body {
        background-size: cover;
    }
}

.menu-btn {
    position: fixed;
    top: 20px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #2c3e50;
    z-index: 2;
}
.menu-btn:hover {
    background-color: #00274d;
}
@media (max-width: 600px) {
    .menu-btn {
        position: relative;
        top: 10px;
        left: 5px;
        z-index: 2;
    }
}
.menu-btn__burger {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-10px);
}
.menu-btn__burger::after {
    transform: translateY(10px);
}
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    width: 250px;
    background-color: #2c3e50;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
.sidebar.open {
    left: 0;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 150px;
}
.sidebar ul li {
    padding: 15px 25px;
    border-bottom: 1px solid #34495e;
}
.txt {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h1 {
    background-color: #ffffffd8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 0;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(80, 2, 2, 0.5);
    text-align: center;
}
.container p {
    font-size: 21px;
}
@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        padding: 0rem;
    }
    .container h1 {
        width: auto;
        margin-top: 1rem;
    }
}
.fade-in {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-in.is-visible {
    opacity: 1;
}
.products {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.anchoImg { grid-area: header;}
.item1 { grid-area: marca; }
.item2 { grid-area: modelo; }
.item3 { grid-area: kilometros; }
.item4 { grid-area: año; }
.item5 { grid-area: precio; }
.item6 { grid-area: descripcion;}
.product-card button { grid-area: b;}
.product-card {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'marca modelo kilometros año precio precio'
      'descripcion descripcion descripcion descripcion descripcion descripcion'
      'b b b b b b';
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 15px;
    width: 100%;
    text-align: center;
  }
.carrito {
    display: block;
    position: fixed;
    z-index: 1;
}
.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.product-card h3 {
    margin: 10px 0;
}
.product-card select {
    margin: 10px 0;
    width: 100%;
}
.product-card button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}
.botonComprar:hover {
    background-color: #910f06;
}
#cart {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
}
#cart.open {
    right: 0;
}
#cart h2 {
    padding: 20px;
    margin: 0;
    background-color: #34495e;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
#cart-items {
    padding: 20px;
}
#cart-items .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
#cart-items .cart-item button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
#cart-items .cart-item button:hover {
    background-color: #910f06;
}
#cart-total {
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}
#toggle-cart {
    position: fixed;
    right: 50px;
    top: 20px;
    background-color: #2c3e50;
    border: 3px solid #fff;
    color: white;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
}
#toggle-cart:hover {
    background-color: #00274d;
}
@media (max-width: 600px) {
    #toggle-cart {
        position: absolute;
        right: 1%;
        top: 1%;
        z-index: 1000;
    }
}
@media (max-width: 600px) {
    .product-card {
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .anchoImg {
        margin-bottom: .5rem;
    }
    .item1 {
        margin: .2rem;
    }
    .item2 {
        margin: .2rem;
    }
    .item3 {
        margin: .2rem;
    }
    .item4 {
        margin: .2rem;
    }
    .item5 {
        margin: .2rem;
    }
    .item6 {
        margin: .2rem;
    }
}
.btnUp {
    bottom: 80px;
    left: 245px;
    position: fixed;
}
.btnUp:hover {
    animation-name: moveUp;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes moveUp {
    from {transform: translateY(-15px);}
    to {transform: translate(0);}
}

@media (max-width: 1600px) {
    .btnUp {
        left: 50px;
    }
}
@media (min-width: 601px) {
    .arriba {
        display: none;
    }
    hr {
        display: none;
    }
}
.arriba {
    text-align: center;
}
.arriba button {
    width: 80%;
    background-color: #333;
    border-radius: 8px;
    animation-name: moveUp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.a {
    text-decoration: none;
    width: 100%;
    color: azure;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
@media (max-width: 600px) {
    .btnUp {
        display: none;
    }
    .arriba {
        display: end;
    }
}

.form-cont {
    background-color: rgb(235, 234, 233);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    width: 60%;
	margin-left: 20%;
	margin-top: 2rem;
}
@media (max-width: 600px) {
    .form-cont {
        width: 90%;
	    margin-left: 5%;
	    margin-top: 1rem;
    }
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ancho-aj {
    width: 90%;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(49, 48, 48);
    border-style: none;

}
.boton-cita {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 40%;
    border-radius: 8px;
    color: white;
    background-color: rgba(36, 36, 36, 0.781);
    cursor: pointer;
}
.boton-cita:hover {
    background-color: rgb(168, 168, 168);
}
.oculto {
    display: none;
}

.footer-prima {
    text-align: center;
    font-size: 12px;
    background-color: rgba(187, 187, 187, 0.251);
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1px;
}

/* paginación */
.paginacion {
	bottom: 10%;
	background: var(--secundary);
	width: 100%;
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.pagR {
	cursor: pointer;
	background-color:rgb(0, 0, 0);
	color: white;
	transition: .3s ease all;
	padding: 14px 16px;
    border-radius: 8px;
}

.pagR:hover {
	background-color: rgb(16, 16, 104);
    color: white;
    animation-name: moveR;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes moveR {
    from {transform: translateX(0px);}
    to {transform: translate(10px);}
}
.pagA {
    cursor: pointer;
	background-color:rgb(0, 0, 0);
	color: white;
	transition: .3s ease all;
	padding: 14px 16px;
    border-radius: 8px;
}
.pagA:hover {
	background-color: rgb(16, 16, 104);
    color: white;
    animation-name: moveA;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes moveA {
    from {transform: translateX(0px);}
    to {transform: translate(-10px);}
}
/* #btnAnterior {
	display: none;
} */
/* Fin paginación */

